table, td, th{
    border: 2px grey solid;
    border-collapse: collapse;
    text-align: center;
    
}

th{
    background-color: azure;
    font-style: italic;
}

td:nth-child(even){
    background-color: aliceblue;
    
}
tr:nth-child(odd){
    background-color: aqua;
}

.p-block{
    display:block; 
    background-color: red;
    width: 100px;
    height: 100px;
    
}

.p-inline{
    display:inline; 
    background-color:beige;
    width: 100px;
    height: 100px;
    
    
}
.p-inline-block{
    direction:rtl;
    display:inline-block; 
    background-color:aquamarine;
    width: 100px;
    height: 100px;
    
}

.direction-test{
   
    
}