*
{
    margin: 0;
    padding: 0;
    
}
body
{
    font-family: sans-serif;
    
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #228B22, #006400);
    padding: 0 !imortant;
}

.navbar-brand img
{
    height: 130px;
    padding-left: 10px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    font-weight: 500;
    float: right; 
    text-align: left;
}

.navbar-toggler
{
    outline: none !important;
}

/*---------------banner section--------------*/

#banner
{
    background-image: linear-gradient(to right, #228B22, #006400);
    color: #fff;
    padding-top: 0%;
    padding-bottom: 30px;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    padding-top: 100px;
    color: cornsilk;
}
.promo-title-small
{
    font-size:25px;
    font-weight: 200;
    color: cornsilk;
    margin-bottom: 30px;
}

.facebook-btn
{
    width: 100px;
    margin-left: 10px;
}

#banner a
{
    text-decoration-color: cornsilk;
}

.image-fluid
{
    width:450px;
    padding-bottom: none;
}


/*-------------about section-----------------*/

#about
{
    
    padding: 80px 0;
    background-color:cornsilk;
}

.about-img
{
    width: 280px;
    padding-top: 40px;
    

}

.about-title
{
    margin-bottom: 40px;
}

.about-text
{
    padding-top: 30px;
    padding-bottom: 5px;
    
}

/*--------------order section----------------*/

#order
{
    background-color: white;
    padding-bottom: 0px;
    padding-top: 80px;
}
.order-text
{
    padding-top: 30px;
    margin: 30px; 
}
.order-text-sm
{
    margin: 30px;
}

#order a
{
    padding:inherit;
}

.order-img
{
    width:100%;
}

/*--------------------footer section-------------*/

#footer
{
    background-image:linear-gradient(to right, #228B22, #006400);
    color: #fff;
}

.footer-box
{
    padding: 20px;
    
    
}

.footer-box img
{
    width: 100px;
    
}

